
* {
    box-sizing: border-box;
    /* border: orangered solid 1px; */

}
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}

img {
    width: 100%;
}

body {
    height: 10000px;
    position: relative;
    top: 64px;
}


header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 1;
    background-color: white;
    top: 0px;
    height: 64px;

}
h1 {
    text-transform: uppercase;
    color: gray;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}

#logotext {
    color: black;
    font-weight: 700;
}

#logo {
    display: flex;
  
}
nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

li {
    margin: auto 8px;
}

a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    /* flex-wrap: wrap; */
}


.banner {
    background-color: lightgrey;
    display: flex;
    
}

#imgbanner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    overflow: hidden;
    padding: 2rem 1.5rem;
    margin: 0;
}

#info-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

}

#info-banner h2 {
    font-size: 3rem;

}

#info-banner p {
    font-size: 1.5rem;
}


#info-banner button {
    width: 100%;
    padding: 18px 0;
    background-color: #303030;
    color: white;
}


/*                 SECTION 2 
=========================================== */

#img-information {

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 60%;
    overflow: hidden;
    padding: 2rem 1.5rem;
    margin: 0;

}

#img-info-main{
    margin: 0;
}

} 

#img-info {
    margin: 32px auto;

}

#img-information h2 {
    margin-bottom: 24px;
}

#img-information #adress {
    font-size: .75rem;
}

#side-information {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    margin-left: 0;
}

#side-info {
    display: flex;
}

#side-info-img {
    width: 35%;
    margin: 0;
}

#info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-text a {
    color: blue;
}

#side-information .grey {

    background-color: lightgray;
}


/*        SECTION 3
============================================ */

.courses {
    background-color: lightgray;
    flex-direction: column;
    padding: 32px 64px;
    margin: 0;
}

.courses h2 {
    /* text-align: center; */
    margin: 32px auto;
    font-size: 2.5rem;
}

.course-img {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.course-img-row {
    display: flex;
    margin: 0;
    width: 100%;
}

.course-img-conteiner {
    background-color: white;
    width: 33%;
    margin: 16px 16px;

}

.img-conteiner-text {
    margin: 16px 16px 24px 16px;
}

.course-img-conteiner h3 {
    font-size: 1.5rem;
}

.course-img-conteiner span {
    color: grey;
}